.header {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  height: 100px;
  border-bottom: 5px solid #000;
}

.Intro {
  text-align: center;
  margin: 20px 0px;
}

.MainCont {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 90%;
}

.ButtonCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.NavButtonStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #40403f;
  border-radius: 30px;
  height: 100px;
  width: 300px;
  margin: 0 10px;
}

/* Carousel */
.slide {
  /* display: none; */
 }
 
 img {
   max-width: 100%;
 }
 
 .slideshow-wrapper {
   margin: 0 auto;
   max-width: 960px;
 }
 
 .slides-container {
   position: relative;
   margin-bottom: 25px;
   height: 300px;
   background-color: #c7c7c7;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .prev,
 .next {
   cursor: pointer;
   position: absolute;
   top: 50%;
   padding: 0 8px 16px;
   margin-top: -30px;
   color: white;
   opacity: 0.5;
   font-size: 48px;
   line-height: 1;
   transition: 0.3s;
   background: transparent;
   border: none;
 }
 
 .prev {
   left: 0;
 }
 
 .next {
   right: 0;
 }
 
 .prev:hover,
 .next:hover {
   opacity: 1;
 }
 
 .dots {
   text-align: center;
 }
 
 .dot {
   cursor: pointer;
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: #c7c7c7;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
 }
 
 .active,
 .dot:hover {
   background-color: #8f8f8f;
 }
 
 /* Fading animation */
 .fade {
   animation-name: fade;
   animation-duration: 1.5s;
 }
 
 @keyframes fade {
   from {
     opacity: 0.4;
   }
   to {
     opacity: 1;
   }
 }
 



@media screen and (max-width : 990px) {

.NavButtonStyle {
  width: 200px;
}


}

@media screen and (max-width : 800px) {

.ButtonCont {
  flex-direction: column;
}

.NavButtonStyle {
  margin: 10px 0;
  width: 380px;
  height: 150px;
}

}



@media screen and (max-width : 400px) {

.NavButtonStyle {
  width: 200px;
  height: 75px;
}

}
